#user-profile-container{
    display: flex;
    flex-direction: row;
    align-items: center;

    background-color: #82c0cc;
    color: white;
    height: 12em;

}

#user-profile-image{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0em 1em;
    
    img{
        width: 10em;
        height: 10em;
        border-radius: 50%;
    }
}

#user-info{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-right: 1em;
}

h5{
    margin: 0em;
    text-transform: uppercase;
    
}


h2{
    font-size: 1.5em;
    font-weight: 700;
    margin-top: 0%;
}


p{
    font-size: 0.9em;
    font-style: italic;
    margin-bottom: 0%;
}